In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [14]:
name = []
condition = []
location = []
price = []
for website in range(1,20):
    url = f"https://www.qefira.com/vans-buses?page="
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"}     
    response = requests.get(url,headers = headers)

    soup = BeautifulSoup(response.content, 'html.parser')
    soup1 = BeautifulSoup(soup.prettify(), 'html.parser')

    page1 = soup1.find_all('div',{'class':"listing-card__content 1"})
  
    for cars in page1:

        #name
        try:
            name.append(cars.find('div',{'class':"listing-card__header__title"}).get_text(strip = True))
        except:
                 name.append('n/a')
        #price

        try:
            condition.append(cars.find('div',{'class':"listing-card__header__tags"}).get_text( strip = True))
        except:
                  condition.append('n/a')
        try:
            location.append(cars.find('div',{'class':"listing-card__header__location"}).get_text( strip = True))
        except:
                  location.append('n/a')
        try:
            price.append(cars.find('span',{'class':"listing-card__price"}).get_text(strip = True))
        except:
                  price.append('n/a')

In [16]:
ca = pd.DataFrame({'name':name,'condition':condition,'location':location,'price':price,})

In [19]:
ca

,name,condition,location,price
0,Toyota Proace - 2020,UsedToyota2020Automatic,"Other location,\nAddis Ababa","Br 6,000,000"
1,HAFEI car for sale,UsedTriumph2004Manual shift,"Bishoftu,\nOromia","Br 800,000"
2,Hyundai Grand Starex አስቸኳይ ሽያጭ,UsedHyundai2016Automatic,"Bole,\nAddis Ababa","Br 2,600,000"
3,Hyundai H1 2021 Fully Optioned Perfect Van/Min...,UsedHyundai2021Automatic,"Bole,\nAddis Ababa","Br 4,200,000"
4,Toyota Haice - 2007,UsedToyota2007Automatic,"Other location,\nAddis Ababa","Br 2,400,000"
...,...,...,...,...
185,Hyundai Starex 2016 Very Excellent and Clean V...,UsedHyundai2016Automatic,"Bole,\nAddis Ababa","Br 2,700,000"
186,Opel Vivaro 2021 Brand New Full Option Minibus...,NewOpel2021Automatic,"Bole,\nAddis Ababa","Br 3,500,000"
187,Hyundai H1 2021 Almost Brand New Full Option M...,UsedHyundai2021Automatic,"Bole,\nAddis Ababa","Br 4,200,000"
188,Hyundai H1 2021 Almost Brand New Full Option V...,UsedHyundai2021Automatic,"Bole,\nAddis Ababa","Br 4,200,000"
189,Toyota Hiace Dolphin 2005 Half Van D4D Minibus...,UsedToyota2005Manual shift,"Bole,\nAddis Ababa","Br 2,700,000"